<% unless user_signed_in? %>
<div class="top__img">
<p class="top_message">
行き先を登録して<br>
旅行リストを作ろう
</p>
</div>

<% else %>
ユーザーはサインインしています

<% if current_user.image? %>
  <%= image_tag current_user.image.url %>
<% else %>
  <div class="default__img"><%= image_tag ("noimg.jpeg") %></div>
<% end %>

<% end %>