<header class="header" id="header">
<div class="header__inner">
  <h1 class="header__title"><a href="#">ココイコ</a></h1>
  <nav class="header__nav">
  <ul class="header__nav-list">
    <li class="header__nav-item"><%= link_to "新規登録", new_user_registration_path %></li>
    <li class="header__nav-item"><%= link_to "ログイン", new_user_session_path %></li>
  </ul>
  </nav>
</div>
</header>