@charset "UTF-8";
@import "~bootstrap/scss/bootstrap.scss";

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

header, footer, nav, section, article, aside, figure, figcaption {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}


/*sassの共通css*/
$color-main: #262626;
$color-accent: #D9D8D8;
$color-text: #333333;
$color-background: #F4F5F7;

// ブレークポイント
$breakpoints: (
  'sp': 'screen and (max-width: 767px)', 
  'tab': 'screen and (min-width: 768px) and (max-width: 1024px)', 
  'pc': 'screen and (min-width: 1025px)' 
) !default;


@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

/*基本共通のCSS*/
body {
  color: #333;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  background-color: $color-background;
}

img {
  width: 100%;
  height: auto;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  opacity: 0.7;
  color: #fff;
}

.clear::after {
  display: block;
  clear: both;
  content: "";
}

.is-pc {

  @include mq('sp') {
    display: none;
  }
}

.is-sp {
  
  @include mq('pc') {
    display: none;
  }
}

/* common
--------------------------------------------------------------*/
.inner {
  width: 1200px;
  margin: 0 auto;
  max-width: 100%;
}

.util__head {
  font-size: 41px;
  font-weight: bold;
}

/* header
--------------------------------------------------------------*/

.header {
  height: 80px;
  width: 100%;
  background: $color-main;
}

.header__inner {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: inherit;
}

.header__title {
    font-size: 40px;
  a {
    display: inline-block;
  }
}

.header__nav {
  margin-left: auto;
}

.header__nav-list {
  display: flex;

}

.header__nav-item {
  &:not(:first-of-type) {
    margin-left: 20px;
  }

  a {
    display: inline-block;
    line-height: 80px;
    font-size: 20px;
  }
}

/* top
--------------------------------------------------------------*/
.top__img {
  height: calc(100vh - 80px);
  background: url(../../assets/images/top-img2.jpg) no-repeat center center / cover;
  // 大きいサイズ top90%あたりを指定
  position: relative;
}

.top_message {
  position: absolute;
  bottom: 10%;
  right: 10%;
  color: #fff;
  font-size: 44px;
  font-weight: bold;
}

/* sign__up-inner
--------------------------------------------------------------*/
.sign__up-inner {
  width: 670px;
  max-width: 100%;
  margin: 80px auto 0;
}

.sign__up-form {
  margin-top: 50px;
}

.form__row {

  & + & {
    margin-top: 20px;
  }

  label {
    font-size: 20px;
  }

  input {
    box-shadow: 2px 2px 6px #00000029;
    border: none;
    background: #fff;
    padding: 8px 16px;
    appearance: none;
    border-radius: 0;
    color: inherit;
    font-family: inherit;
    font-size: 14px;
    width: 100%;
    margin-top: 4px;
  }

  [type="name"],
  [type="email"] {

  }

  [type="password"],
  [type="password_confirmation"] {

  }
}

.form__button {
  margin-top: 20px;

  input {
    
    border-radius: 7px;
    width: 115px;
    height: 42px;
    background-color: $color-main;
    color: #fff;
    border: none;
    display: inline-block;
    transition: .3s;

    &:hover {
      opacity: .7;
      
    }
  }
}


/* login__form
--------------------------------------------------------------*/
.login__inner {
  width: 670px;
  margin: 80px auto 0;
}

.login__head {

}

.login__form {
  margin-top: 50px;
}

.form__checkbox {
  // チェックボック隠している
  display: none;
  input {
    border-radius: 0px;
  }
}